{# Footer #}
<div class="footer texte-petit marge-top-moyen">
    {# Nom de la société et autres informations de pieds de page #}
    <table class="tableau-bordure-top largeur-max">
        <tr>
            <td class="texte-centre">
                <span class="texte-gras">{{facture.entreprise.nom}}</span><br>
                {{facture.entreprise.adresse}} | Tél: {{facture.entreprise.telephone}}<br>
                RCCM: {{facture.entreprise.rccm}} | ID.NAT: {{facture.entreprise.idnat}} | NUM. IMPOT: {{facture.entreprise.numimpot}}
            </td>
        </tr>
        <tr>
            <td class="texte-centre bordure-top">
                Page {{currentPage}}
            </td>
        </tr>
    </table>
</div>