{# barre de titre #}
<table class="titre-document">
    <tr>
        <td>
            <div>
                {% if facture.type == 0 %}
                    NOTE DE DEBIT (COMMISSION) N°{{facture.reference}}
                {% elseif facture.type == 1 %}
                    NOTE DE CREDIT (RETROCOMMISSION) N°{{facture.reference}}
                {% elseif facture.type == 2 %}
                    NOTE DE CREDIT N°{{facture.reference}}
                {% elseif facture.type == 3 %}
                    NOTE DE CREDIT N°{{facture.reference}}
                {% elseif facture.type == 4 %}
                    NOTE DE DEBIT (FRAIS DE GESTION) N°{{facture.reference}}
                {% endif %}
            </div>
        </td>
    </tr>
</table>
{# Référence, date et type de facture #}
<table class="tableau-bordure-zero centre texte-normal" style="width: 98%;">
    <tr class="bg-pair">
        <td>RCCM: <strong>{{facture.entreprise.rccm}}</strong></td>
        <td class="texte-droite">DATE: <strong>{{facture.createdAt | date("d/m/Y à G:H:i")}}</strong></td>
    </tr>
    <tr>
        <td>NIF: <strong>{{facture.entreprise.numimpot}}</strong></td>
        <td class="texte-droite">REFERENCE: <strong>{{facture.reference}}</strong></td>
    </tr>
    <tr class="bg-pair">
        <td>ID. NAT: <strong>{{facture.entreprise.idnat}}</strong></td>
        <td class="texte-droite">NATURE: 
            <strong>
                {% if facture.type == 0 %}
                    COMMISSION DE COURTAGE
                {% elseif facture.type == 1 %}
                    RETROCOMMISSION DUE AU PARTENAIRE
                {% elseif facture.type == 2  or facture.type == 3 %}
                    NOTE DE CREDIT
                {% elseif facture.type == 4 %}
                    FRAIS DE GESTION
                {% endif %}
            </strong>
        </td>
    </tr>
</table>
{# Facture à l'attention de... & Description de la facture #}
<table class="tableau-bordure-zero centre marge-top-large" style="width: 98%;">
    <tr>
        <td>
            Pour:</br>
            {{pour|raw}}
        </td>
        <td class="texte-droite">
            Description: </br>
            <strong>
                {{facture.description|raw}}
            </strong>
        </td>
    </tr>
</table>