{# Liste des avenants concernés par cette note de débit #}
<table class="tableau-bordure-zero texte-petit largeur-max marge-top-petit">
    <tr>
        <td colspan="5">Liste détailée de {{pg_volumeDonnees}} article(s) concernés par la note de débit / facture. [Page {{currentPage}}/{{pg_nb_pages}}]</td>
    </tr>
    <tr class="texte-gras texte-centre bg-sombre">
        <td class = "tableau-bordure-blanche">N°</td>
        <td class = "tableau-bordure-blanche" style="width: 100px;">Police</td>
        <td class = "tableau-bordure-blanche">Avenant</td>
        <td class = "tableau-bordure-blanche">Risque</td>
        <td class = "tableau-bordure-blanche" style="width: 100px;">Client</td>
        <td class = "tableau-bordure-blanche">Prime nette</td>
        <td class = "tableau-bordure-blanche">Fronting</td>
        <td class = "tableau-bordure-blanche">Taux</td>
        <td class = "tableau-bordure-blanche">Com (ht)</td>
        <td class = "tableau-bordure-blanche">{{taxe.nom}} ({{(taxe.taux * 100)|number_format(0, ',', '.')}}%)</td>
        <td class = "tableau-bordure-blanche">Total dû</td>
    </tr>
    {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}

    {# Les variables à cumuler #}
    {% set x = 1 %}
    {% set y = 0 %}
    {% set pg = 1 %}
    {% set total_fronting = 0 %}
    {% set total_prime_nette = 0 %}
    {% set total_montant = 0 %}
    {% set total_tva = 0 %}
    {% set total_montant_ttc = 0 %}
    {# fin - Les variables à cumuler #}

    {% for i in 1..pg_volumeDonnees %} {# pg_tableauMax #}
            {% if (pg == currentPage) %}
                {% if (x % 2) == 0 %}
                    <tr class="texte-centre bg-pair">
                {% else %}
                    <tr class="texte-centre">
                {% endif %}
                    {# Les variables textes #}
                    {% set art_numero = x  %}
                    {% set art_reference = facture.elementFactures[i - 1].police.reference %} {# '12005-33002-0012-13001-00004352-2022' #}
                    {% set art_avenant = 'Type@' ~ facture.elementFactures[i - 1].police.typeavenant ~ '/Id@' ~ facture.elementFactures[i - 1].police.id %} {# 'Type@220/id@230' #}
                    {% set art_code_produit = facture.elementFactures[i - 1].police.produit.code %} {# 'CDDK' #}
                    {% set art_cient = facture.elementFactures[i - 1].police.client.nom %} {# 'Allied Insurance Brokers RDC SA' #}
                    {% set art_prime_nette = facture.elementFactures[i - 1].police.primenette / 100 %} {# 'Allied Insurance Brokers RDC SA' #}
                    {% set art_com_ht = (facture.elementFactures[i - 1].montant / 100) / (taxe.taux + 1) %} {# (facture.elementFactures[i - 1].montant / 100) / (taxe.taux + 1) #}
                    {% set art_fronting = facture.elementFactures[i - 1].police.fronting / 100 %} {# 'Allied Insurance Brokers RDC SA' #}
                    {% set art_taux = (art_com_ht / art_prime_nette) * 100 %}
                    {% set art_taxes = (art_com_ht * taxe.taux) %}
                    {% set art_com_ttc = art_taxes + art_com_ht %}
                        
                    
                    <td class = "tableau-bordure-blanche" style="width: 25px;">
                        {% include 'segments/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_numero, 'txtLimitedLength_tailleMax': 4} %}
                    </td>
                    <td class = "tableau-bordure-blanche a-la-ligne-auto" style="width: 170px;">
                        {% include 'segments/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_reference, 'txtLimitedLength_tailleMax': 36} %}
                    </td>
                    <td class = "tableau-bordure-blanche" style="width: 70px;">
                        {% include 'segments/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_avenant, 'txtLimitedLength_tailleMax': 15} %}
                    </td>
                    <td class = "tableau-bordure-blanche" style="width: 35px;">
                        {% include 'segments/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_code_produit, 'txtLimitedLength_tailleMax': 4} %}
                    </td>
                    <td class = "tableau-bordure-blanche a-la-ligne-auto" style="width: 130px;">
                        {% include 'segments/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_cient, 'txtLimitedLength_tailleMax': 31} %}
                    </td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 65px;">{{art_prime_nette|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 65px;">{{art_fronting|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 40px;">{{art_taux|number_format('2', ',', '.')}}%</td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 65px;">{{art_com_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 65px;">{{art_taxes|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class = "tableau-bordure-blanche texte-droite" style="width: 65px;">{{art_com_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                {% set y = y + 1 %}
            {% endif %}
        {# Ici on incrémente les variables numériques #}
        {% set total_prime_nette = total_prime_nette + art_prime_nette %}
        {% set total_fronting = total_fronting + art_fronting %}
        {% set total_montant = total_montant + art_com_ht %}
        {% set total_tva = total_tva + art_taxes %}
        {% set total_montant_ttc = total_montant_ttc + art_com_ttc %}
        
        {# S'il atteind le maximum du tableau, il fait un saut à la page suivante #}
        {% if (x % pg_tableauMax) == 0 %}
            {% set pg = pg + 1 %}
        {% endif %}
        {% set x = x + 1 %}
    {% endfor %}
    
    <tr class="texte-gras bg-sombre">
        <td colspan="5" class = "tableau-bordure-blanche">Total général</td>
        <td class = "tableau-bordure-blanche texte-droite">{{total_prime_nette|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tableau-bordure-blanche texte-droite">{{total_fronting|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tableau-bordure-blanche texte-droite"></td>
        <td class = "tableau-bordure-blanche texte-droite">{{total_montant|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tableau-bordure-blanche texte-droite">{{total_tva|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tableau-bordure-blanche texte-droite">{{total_montant_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
    </tr>
</table>
{# On insère le ressort ici pour ajouter ou supprimer les lignes manquantes #}
{% include 'segments/_factureressort.html.twig' with {'tailleTabActuel': y, 'tailleTabMax': pg_tableauMax, 'tailleBoucleMin': 0} %}
