{# Liste des avenants concernés par cette note de débit #}
    {% set width_no = "11px;" %}
    {% set width_reference = "110px;" %}
    {% set width_avenant = "60px;" %}
    {% set width_risque = "35px;" %}
    {% set width_tranche = "50px;" %}
    {% set width_periode = "100px;" %}
    {% set width_note = "80px;" %}
    {% set width_prime_ttc = "65px;" %}
    {% set width_prime_nette = "65px;" %}
    {% set width_fronting = "65px;" %}
    {% set width_taxe_assureur = "65px;" %}
    {% set width_taux = "40px;" %}
    {% set width_montant = "65px;" %}
    {% set width_taxe = "65px;" %}
    {% set width_total_du = "65px;" %}

<table class="tableau-bordure-zero largeur-max marge-top-petit texte-taille-petit">
    <tr>
        <td colspan="7">Client: 
            {% if (facture.destination == 1) %} {# Assureur #}
                <b>{{facture.assureur}}</b>
            {% elseif (facture.destination == 2) %} {# Client #}
                <b>{{facture.autreTiers}}</b>
            {% elseif (facture.destination == 4) %} {# Partenaire #}
                <b>{{facture.partenaire}}</b>
            {% else %}
                <b>{{facture.autreTiers}}</b>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="7">Liste détailée de {{pg_volumeDonnees}} article(s) concernés par la note de débit / facture. [Page {{currentPage}}/{{pg_nb_pages}}]</td>
    </tr>
    <tr>
        <td class="tab-titre-label" style="width: {{width_no}}">N°</td>
        <td class="tab-titre-label" style="width: {{width_reference}}">Police</td>
        <td class="tab-titre-label" style="width: {{width_avenant}}">Avenant</td>
        <td class="tab-titre-label" style="width: {{width_risque}}">Risque</td>
        <td class="tab-titre-label" style="width: {{width_tranche}}">Tranche</td>
        <td class="tab-titre-label" style="width: {{width_periode}}">Période</td>
        <td class="tab-titre-label" style="width: {{width_note}}">Note</td>
        <td class="tab-titre-valeur" style="width: {{width_prime_ttc}}">Prime TTC</td>
        <td class="tab-titre-valeur" style="width: {{width_fronting}}">Fronting</td>
        <td class="tab-titre-valeur" style="width: {{width_taxe_assureur}}">{{taxe_assureur.nom}}</td>
        <td class="tab-titre-valeur" style="width: {{width_prime_nette}}">Prime Nette</td>
        <td class="tab-titre-valeur" style="width: {{width_taux}}">Taux</td>
        <td class="tab-titre-valeur" style="width: {{width_montant}}">Montant (ht)</td>
        <td class="tab-titre-valeur" style="width: {{width_taxe}}">{{taxe_assureur.nom}}{#  ({{(taxe_assureur.tauxIARD * 100)|number_format(0, ',', '.')}}%)  #}</td>
        <td class="tab-titre-valeur" style="width: {{width_total_du}}">Total dû</td>
    </tr>
    {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}

    {# Les variables à cumuler #}
    {% set x = 1 %}
    {% set y = 0 %}
    {% set pg = 1 %}
    {% set total_prime_ttc = 0 %}
    {% set total_prime_ht = 0 %}
    {% set total_fronting = 0 %}
    {% set total_taxe_assureur = 0 %}
    {% set total_montant = 0 %}
    {% set total_taxes = 0 %}
    {% set total_total_du = 0 %}
    {# fin - Les variables à cumuler #}

    {% for i in 1..pg_volumeDonnees %} {# facture.notesElementsFactures|length #} {# pg_tableauMax #} 
            {% if (pg == currentPage) %}
                {% if (x % 2) == 0 %}
                    <tr class="texte-centre">  {# bg-pair #}
                {% else %}
                    <tr class="texte-centre">
                {% endif %}
                    {# Les variables textes #}
                    {% set art_numero = facture.articlesNDClientOuAssureur[i - 1]["No"]  %}
                    {% set art_reference = facture.articlesNDClientOuAssureur[i - 1]["Reference_Police"]  %}
                    {% set art_avenant = facture.articlesNDClientOuAssureur[i - 1]["Avenant"]  %}
                    {% set art_risque = facture.articlesNDClientOuAssureur[i - 1]["Risque"]  %}
                    {% set art_tranche = facture.articlesNDClientOuAssureur[i - 1]["Tranche"]  %}
                    {% set art_periode = facture.articlesNDClientOuAssureur[i - 1]["Période"]  %}
                    {% set art_note = facture.articlesNDClientOuAssureur[i - 1]["Note"]  %}
                    {% set art_prime_ttc = facture.articlesNDClientOuAssureur[i - 1]["Prime_TTC"]  %}
                    {% set art_prime_ht = facture.articlesNDClientOuAssureur[i - 1]["Prime_HT"]  %}
                    {% set art_fronting = facture.articlesNDClientOuAssureur[i - 1]["Fronting"]  %}
                    {% set art_taxe_assureur = facture.articlesNDClientOuAssureur[i - 1]["Taxe_Assureur"]  %}
                    {% set art_taux = facture.articlesNDClientOuAssureur[i - 1]["Taux"]  %}
                    {% set art_montant = facture.articlesNDClientOuAssureur[i - 1]["Montant"]  %}
                    {% set art_taxes = facture.articlesNDClientOuAssureur[i - 1]["Taxes"]  %}
                    {% set art_total_du = facture.articlesNDClientOuAssureur[i - 1]["Total_Dû"]  %}
                    
                    <td class="tab-ligne-valeur" style="width: {{width_no}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_numero, 'txtLimitedLength_tailleMax': 4} %}
                    </td>
                    <td class="tab-ligne-label a-la-ligne-auto" style="width: {{width_reference}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_reference, 'txtLimitedLength_tailleMax': 23} %}
                    </td>
                    <td class="tab-ligne-label" style="width: {{width_avenant}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_avenant, 'txtLimitedLength_tailleMax': 14} %}
                    </td>
                    <td class="tab-ligne-label" style="width: {{width_risque}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_risque, 'txtLimitedLength_tailleMax': 4} %}
                    </td>
                    <td class="tab-ligne-label" style="width: {{width_tranche}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_tranche, 'txtLimitedLength_tailleMax': 12} %}
                    </td>
                    <td class="tab-ligne-label" style="width: {{width_periode}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_periode, 'txtLimitedLength_tailleMax': 23} %}
                    </td>
                    <td class="tab-ligne-label" style="width: {{width_note}}">
                        {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_note, 'txtLimitedLength_tailleMax': 16} %}
                    </td>
                    <td class="tab-ligne-valeur" style="width: {{width_prime_ttc}}">{{art_prime_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_fronting}}">{{art_fronting|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_taxe_assureur}}">{{art_taxe_assureur|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_prime_nette}}">{{art_prime_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_taux}}">{{art_taux|number_format('2', ',', '.')}}%</td>
                    <td class="tab-ligne-valeur" style="width: {{width_montant}}">{{art_montant|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_taxe}}">{{art_taxes|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: {{width_total_du}}">{{art_total_du|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                {% set y = y + 1 %}
            {% endif %}
        {# Ici on incrémente les variables numériques #}
        {% set total_prime_ttc = total_prime_ttc + art_prime_ttc %}
        {% set total_prime_ht = total_prime_ht + art_prime_ht %}
        {% set total_fronting = total_fronting + art_fronting %}
        {% set total_taxe_assureur = total_taxe_assureur + art_taxe_assureur %}
        {% set total_montant = total_montant + art_montant %}
        {% set total_taxes = total_taxes + art_taxes %}
        {% set total_total_du = total_total_du + art_total_du %}
        
        {# S'il atteind le maximum du tableau, il fait un saut à la page suivante #}
        {% if (x % pg_tableauMax) == 0 %}
            {% set pg = pg + 1 %}
        {% endif %}
        {% set x = x + 1 %}
    {% endfor %}
    
    <tr class="bg-sombre">
        <td colspan="7" class = "tab-ligne-label">Total général</td>
        <td class = "tab-ligne-valeur" style="width: {{width_prime_ttc}}">{# {{total_prime_ttc|format_currency(monnaie, {fraction_digit: 2})}} #}</td>
        <td class = "tab-ligne-valeur" style="width: {{width_fronting}}"> {# {{total_fronting|format_currency(monnaie, {fraction_digit: 2})}} #} </td>
        <td class = "tab-ligne-valeur" style="width: {{width_taxe_assureur}}"> {# {{total_taxe_assureur|format_currency(monnaie, {fraction_digit: 2})}} #} </td>
        <td class = "tab-ligne-valeur" style="width: {{width_prime_nette}}"> {# {{total_prime_ht|format_currency(monnaie, {fraction_digit: 2})}} #} </td>
        <td class = "tab-ligne-valeur" style="width: {{width_taux}}"></td>
        <td class = "tab-ligne-valeur" style="width: {{width_montant}}">{{total_montant|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tab-ligne-valeur" style="width: {{width_taxe}}">{{total_taxes|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tab-ligne-valeur" style="width: {{width_total_du}}">{{total_total_du|format_currency(monnaie, {fraction_digit: 2})}}</td>
    </tr>
</table>
{# On insère le ressort ici pour ajouter ou supprimer les lignes manquantes #}
{% include 'pdf/composants/_ressort.html.twig' with {'tailleTabActuel': y, 'tailleTabMax': pg_tableauMax, 'tailleBoucleMin': 3} %}
