{# Liste des avenants concernés par cette note de débit #}
<table class="tableau-bordure-zero largeur-max marge-top-petit texte-taille-petit">
    <tr>
        <td colspan="11">Liste détailée d'articles ({{pg_volumeDonnees}}) concernés par la note de crédit au profit de {% if facture.destination == 0 %}{{taxe_courtier.organisation}}  qui a droit à {{(taxe_courtier.tauxIARD * 100)|number_format(0, ',', '.')}}% {% elseif facture.destination == 3 %}{{taxe_assureur.organisation}}  qui a droit à {{(taxe_assureur.tauxIARD * 100)|number_format(0, ',', '.')}}%{% endif %} de la commission hors taxes. [Page {{currentPage}}/{{pg_nb_pages}}]</td>
    </tr>
    <tr>
        <td class="tab-titre-valeur">N°</td>
        <td class="tab-titre-label" style="width: 100px;">Police</td>
        <td class="tab-titre-label">Risque</td>
        <td class="tab-titre-label" style="width: 100px;">Client</td>
        <td class="tab-titre-valeur">Prime totale</td>
        <td class="tab-titre-valeur">Prime nette</td>
        <td class="tab-titre-valeur">Com. nette</td>
        {% if facture.destination == 0 %}
            <td class="tab-titre-valeur">{{taxe_courtier.nom}}@IARD:{{taxe_courtier.tauxIARD * 100|number_format(0, ',', '.')}}%, VIE:{{taxe_courtier.tauxVIE * 100|number_format(0, ',', '.')}}%</td>
        {% elseif facture.destination == 3 %}
            <td class="tab-titre-valeur">{{taxe_assureur.nom}}@IARD:{{taxe_assureur.tauxIARD * 100|number_format(0, ',', '.')}}%, VIE:{{taxe_courtier.tauxVIE * 100|number_format(0, ',', '.')}}%</td>
        {% endif %}
        <td class="tab-titre-valeur">Mnt. payé</td>
        <td class="tab-titre-valeur">Solde dû</td>
        <td class="tab-titre-valeur">Mnt. à Payer</td>
    </tr>
    {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}

    {# Les variables à cumuler #}
    {% set x = 1 %}
    {% set y = 0 %}
    {% set pg = 1 %}
    {% set tot_prime_totale = 0 %}
    {% set tot_prime_nette = 0 %}
    {% set tot_revenu_ht = 0 %} 
    {% if facture.destination == 0 %}
        {% set tot_taxes_courtier = 0 %}
        {% set tot_taxes_courtier_payees = 0 %}
        {% set tot_taxes_courtier_solde = 0 %}
    {% elseif facture.type == 3 %}
        {% set tot_taxes_assureur = 0 %}
        {% set tot_taxes_assureur_payees = 0 %}
        {% set tot_taxes_assureur_solde = 0 %}
    {% endif %}
    {% set tot_mont_a_payer = 0 %}
    {# fin - Les variables à cumuler #}
    {% for i in 1..pg_volumeDonnees %} {# pg_tableauMax #}
        {% if (pg == currentPage) %}
            <tr class="texte-centre">
                {# Les variables textes #}
                {% set art_numero = x  %}
                {% set art_reference = facture.elementFactures[i - 1].tranche.police.reference %}
                {% set art_code_produit = facture.elementFactures[i - 1].tranche.police.produit.code %} 
                {% set art_client = facture.elementFactures[i - 1].tranche.police.client.nom %}
                
                {% set art_prime_totale = (facture.elementFactures[i - 1].tranche.police.primetotale / 100) %}
                {% set art_prime_nette = (facture.elementFactures[i - 1].tranche.police.primeNetteTotale / 100) %}
                {% set art_revenu_ht = (facture.elementFactures[i - 1].tranche.police.calc_revenu_ht / 100) %} 
                {% if facture.destination == 3 %}
                    {% set art_taxes_courtier = (facture.elementFactures[i - 1].tranche.police.calc_taxes_courtier / 100) %}
                    {% set art_taxes_courtier_payees = (facture.elementFactures[i - 1].tranche.police.calc_taxes_courtier_payees / 100) %}
                    {% set art_taxes_courtier_solde = (facture.elementFactures[i - 1].tranche.police.calc_taxes_courtier_solde / 100) %}
                {% elseif facture.destination == 3 %}
                    {% set art_taxes_assureur = (facture.elementFactures[i - 1].tranche.police.calc_taxes_assureurs / 100) %}
                    {% set art_taxes_assureur_payees = (facture.elementFactures[i - 1].tranche.police.calc_taxes_assureurs_payees / 100) %}
                    {% set art_taxes_assureur_solde = (facture.elementFactures[i - 1].tranche.police.calc_taxes_assureurs_solde / 100) %}
                {% endif %}
                {% set art_mont_a_payer = (facture.elementFactures[i - 1].montant / 100) %}
                
                <td class="tab-ligne-valeur" style="width: 25px;">
                    {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_numero, 'txtLimitedLength_tailleMax': 4} %}
                </td>
                <td class="tab-ligne-label a-la-ligne-auto" style="width: 170px;">
                    {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_reference, 'txtLimitedLength_tailleMax': 40} %}
                </td>
                <td class="tab-ligne-label" style="width: 35px;">
                    {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_code_produit, 'txtLimitedLength_tailleMax': 4} %}
                </td>
                <td class="tab-ligne-label a-la-ligne-auto" style="width: 130px;">
                    {% include 'pdf/composants/_txtLimitedLength.html.twig' with {'txtLimitedLength_texte': art_client, 'txtLimitedLength_tailleMax': 28} %}
                </td>
                <td class="tab-ligne-valeur" style="width: 65px;">{{art_prime_totale|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class="tab-ligne-valeur" style="width: 65px;">{{art_prime_nette|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class="tab-ligne-valeur" style="width: 65px;">{{art_revenu_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
                
                {% if facture.type == 3 %}
                    <td class="tab-ligne-valeur" style="width: 65px;">{{art_taxes_courtier|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur texte-rouge" style="width: 65px;">-{{art_taxes_courtier_payees|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: 65px;">{{art_taxes_courtier_solde|format_currency(monnaie, {fraction_digit: 2})}}</td>
                {% elseif facture.type == 2 %}
                    <td class="tab-ligne-valeur" style="width: 65px;">{{art_taxes_assureur|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur texte-rouge" style="width: 65px;">-{{art_taxes_assureur_payees|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    <td class="tab-ligne-valeur" style="width: 65px;">{{art_taxes_assureur_solde|format_currency(monnaie, {fraction_digit: 2})}}</td>
                {% endif %}
                <td class="tab-ligne-valeur" style="width: 65px;">{{art_mont_a_payer|format_currency(monnaie, {fraction_digit: 2})}}</td>
            </tr>
            {% set y = y + 1 %}
        {% endif %}
        {# Ici on incrémente les variables numériques #}
        {% set tot_prime_totale = tot_prime_totale + art_prime_totale %}
        {% set tot_prime_nette = tot_prime_nette + art_prime_nette %}
        {% set tot_revenu_ht = tot_revenu_ht + art_revenu_ht %}
        {% if facture.type == 3 %}
            {% set tot_taxes_courtier = tot_taxes_courtier + art_taxes_courtier %}
            {% set tot_taxes_courtier_payees = tot_taxes_courtier_payees + art_taxes_courtier_payees %} 
            {% set tot_taxes_courtier_solde = tot_taxes_courtier_solde + art_taxes_courtier_solde %}
        {% elseif facture.type == 2 %}
            {% set tot_taxes_assureur = tot_taxes_assureur + art_taxes_assureur %}
            {% set tot_taxes_assureur_payees = tot_taxes_assureur_payees + art_taxes_assureur_payees %} 
            {% set tot_taxes_assureur_solde = tot_taxes_assureur_solde + art_taxes_assureur_solde %}
        {% endif %}
        {% set tot_mont_a_payer = tot_mont_a_payer + art_mont_a_payer %}
        {# S'il atteind le maximum du tableau, il fait un saut à la page suivante #}
        {% if (x % pg_tableauMax) == 0 %}
            {% set pg = pg + 1 %}
        {% endif %}
        {% set x = x + 1 %}
    {% endfor %}
    
    <tr class="bg-sombre">
        <td colspan="4" class = "tab-ligne-label">Total général</td>
        <td class = "tab-ligne-valeur">{{tot_prime_totale|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tab-ligne-valeur">{{tot_prime_nette|format_currency(monnaie, {fraction_digit: 2})}}</td>
        <td class = "tab-ligne-valeur">{{tot_revenu_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
        {% if facture.type == 3 %}
            <td class = "tab-ligne-valeur">{{tot_taxes_courtier|format_currency(monnaie, {fraction_digit: 2})}}</td>
            <td class = "tab-ligne-valeur texte-rouge">-{{tot_taxes_courtier_payees|format_currency(monnaie, {fraction_digit: 2})}}</td>
            <td class = "tab-ligne-valeur">{{tot_taxes_courtier_solde|format_currency(monnaie, {fraction_digit: 2})}}</td>
        {% elseif facture.type == 2 %}
            <td class = "tab-ligne-valeur">{{tot_taxes_assureur|format_currency(monnaie, {fraction_digit: 2})}}</td>
            <td class = "tab-ligne-valeur texte-rouge">-{{tot_taxes_assureur_payees|format_currency(monnaie, {fraction_digit: 2})}}</td>
            <td class = "tab-ligne-valeur">{{tot_taxes_assureur_solde|format_currency(monnaie, {fraction_digit: 2})}}</td>
        {% endif %}
        <td class = "tab-ligne-valeur">{{tot_mont_a_payer|format_currency(monnaie, {fraction_digit: 2})}}</td>
    </tr>
</table>
{# On insère le ressort ici pour ajouter ou supprimer les lignes manquantes #}
{% include 'pdf/composants/_ressort.html.twig' with {'tailleTabActuel': y, 'tailleTabMax': pg_tableauMax, 'tailleBoucleMin': 3} %}
