{# Comptes bancaires #}
{% if facture.compteBancaires|length != 0 %}
    {# Les Comptes bancaires et leurs numéros #}
    <table class="tableau-bordure-zero texte-petit largeur-max marge-top-petit marge-bottom-large texte-taille-petit">
        <tr>
            <td colspan="5">Références bancaires</td>
        </tr>
        <tr class="texte-gras texte-centre">
            <td class="tab-titre-label">Intitulé du compte</td>
            <td class="tab-titre-valeur">Numéro du compte</td>
            <td class="tab-titre-valeur">Banque</td>
            <td class="tab-titre-valeur">Code Swift</td>
            <td class="tab-titre-valeur">Devise</td>
        </tr>
        {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}
        {% set x = 0 %}
        {% for compteBancaire in facture.compteBancaires %}
            <tr class="texte-centre">
                <td class="tab-ligne-label">{{ compteBancaire.intitule}}</td>
                <td class="tab-ligne-valeur">{{ compteBancaire.numero}}</td>
                <td class="tab-ligne-valeur">{{ compteBancaire.banque}}</td>
                <td class="tab-ligne-valeur">{{ compteBancaire.codeSwift}}</td>
                <td class="tab-ligne-valeur">{{ compteBancaire.codeMonnaie}}</td>
            </tr>       
            {% set x = x + 1 %}
        {% endfor %}
    </table>
{% endif %}