{# Footer #}
<div class="footer">
    {# Nom de la société et autres informations de pieds de page #}
    <table class="tableau-bordure-top largeur-max texte-taille-extra-petite">
        <tr>
            <td class="texte-centre">
                <span class="texte-gras">{{facture.entreprise.nom}}</span><br>
                <span class="">
                    RCCM: {{facture.entreprise.rccm}} | ID.NAT: {{facture.entreprise.idnat}} | NUM. IMPOT: {{facture.entreprise.numimpot}}<br>
                    {{facture.entreprise.adresse}} | Tél: {{facture.entreprise.telephone}}
                </span>
            </td>
        </tr>
        <tr>
            <td class="texte-centre texte-bleu">
                <strong>Page {{currentPage}}</strong>
            </td>
        </tr>
    </table>
</div>