
{% set montant_ht = (facture.totalDu / 100) / (taxe.taux + 1) %}
{% set montant_taxe = (montant_ht * taxe.taux) %}
{% set montant_ttc = montant_ht + montant_taxe %}

{% if facture.type == 1 %}
    {% set com_ttc = 0 %}
    {% set com_ttc_payee = 0 %}
    {% set com_ttc_solde = 0 %}
    {% set com_ht = 0 %}
    {% set taxe_court = 0 %}
    {% set com_partageable = 0 %}
    {% set com_partenaire = 0 %}
    {% set com_partenaire_payee = 0 %}
    {% set com_partenaire_solde = 0 %}
    {% set montant_pret_a_payer = 0 %}

    {% for i in 0..facture.elementFactures|length - 1 %}
        {% set police = facture.elementFactures[i].police %}
        {% set com_ttc = com_ttc + (police.calc_revenu_ttc / 100) %}
        {% set com_ttc_payee = com_ttc_payee + (police.calc_revenu_ttc_encaisse / 100) %}
        {% set com_ttc_solde = com_ttc_solde + (police.calc_revenu_ttc_solde_restant_du / 100) %}
        {% set com_ht = com_ht + (police.calc_revenu_ht / 100) %}
        {% set taxe_court = taxe_court + (police.calc_taxes_courtier / 100) %}
        {% set com_partageable = com_partageable + (police.calc_revenu_partageable / 100) %}
        {% set com_partenaire = com_partenaire + (police.calc_retrocom / 100) %}
        {% set com_partenaire_payee = com_partenaire_payee + (police.calc_retrocom_payees / 100) %}
        {% set com_partenaire_solde = com_partenaire_solde + (police.calc_retrocom_solde / 100) %}
        {% set montant_pret_a_payer = montant_pret_a_payer + (facture.elementFactures[i].montant / 100) %}
    {% endfor %}
    
    {# NOTE DE CREDIT (RETROCOMMISSION) #}
    {# Synthèse des totaux #}
    <table class="tableau-bordure-zero centre marge-top-large">
        <tr>
            <td class="texte-centre" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tab-titre-label"><strong>Libellés</strong></td>
            <td class="tab-titre-valeur"><strong>Valeurs</strong></td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission totale (ttc)</td>
            <td class="tab-ligne-valeur">{{com_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission totale hors taxes</td>
            <td class="tab-ligne-valeur">{{com_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - Frais {{taxe_courtier.nom}} ({{0}}%)</td>
            <td class="tab-ligne-valeur">{{0|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission à partager avec {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{0|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Part dûe à {{facture.partenaire.nom}} ({{0}}%)</td>
            <td class="tab-ligne-valeur">{{0|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - Montant total déjà payé à {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{0|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Solde restant dû à {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{0|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="bg-sombre">
            <td class="tab-ligne-label">Montant à payer à {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{montant_pret_a_payer|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
{% elseif facture.type == 2 %}
    {# NOTE DE CREDIT #}
    {% include 'segments/_synthese_note_de_debit.html.twig' %}
{% elseif facture.type == 3 %}
    {# NOTE DE CREDIT #}
    {% include 'segments/_synthese_note_de_debit.html.twig' %}
{% elseif facture.type == 4 or facture.type == 0 %}
    {# NOTE DE DEBIT POUR COMMISSION OU FRAIS DE GESTION #}
    {# Synthèse des totaux #}
    <table class="tableau-bordure-zero centre marge-top-large">
        <tr>
            <td class="texte-centre" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>Libellé</strong></td>
            <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>Valeurs</strong></td>
        </tr>
        <tr class="bg-pair">
            <td class="tableau-bordure-blanche texte-normal">Montant dû (ht)</td>
            <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tableau-bordure-blanche texte-normal">{{taxe.nom}} ({{(taxe.taux * 100)|number_format(0, ',', '.')}}%)</td>
            <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_taxe|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="bg-sombre">
            <td class="tableau-bordure-blanche texte-normal texte-gras">Total à payer</td>
            <td class="tableau-bordure-blanche texte-normal texte-droite texte-gras">{{montant_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
{% endif %}