{% if facture.destination == 4 %} {# DESTINATION PARTENAIRE #}
    <br>
    <table class="tableau-bordure-zero centre marge-top-moyen texte-taille-normale">
        <tr>
            <td class="texte-centre texte-bleu" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tab-titre-label"><strong>Libellés</strong></td>
            <td class="tab-titre-valeur"><strong>Valeurs</strong></td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Nombre d'articles</td>
            <td class="tab-ligne-valeur"> {{facture.synthseNCPartenaire["No_Articles"]}} </td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime brute</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Prime_TTC"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Fronting</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Fronting"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime nette</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Prime_HT"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission nette ({{facture.synthseNCPartenaire["Taux"]}}% * Prime nette)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Revenue_net_partageable"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - Autres Frais ({{taxe_courtier.nom}} @{{ taxe_courtier.tauxIARD * 100}}%)</td>
            <td class="tab-ligne-valeur">-{{facture.synthseNCPartenaire["Revenue_arca_partageable"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission nette partageable avec {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Revenue_assiette_partageable"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Part dûe à {{facture.partenaire.nom}} ({{facture.partenaire.part * 100}}%)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Partenaire_retrocom"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - Montant total déjà payé à {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">-{{facture.synthseNCPartenaire["Partenaire_retrocom_payee"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="bg-sombre">
            <td class="tab-ligne-label">Solde restant dû à {{facture.partenaire.nom}}</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCPartenaire["Partenaire_retrocom_solde"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
{% elseif facture.destination == 0 %} {# DESTINATION ARCA #}
    <br>
    <table class="tableau-bordure-zero centre marge-top-moyen texte-taille-normale">
        <tr>
            <td class="texte-centre texte-bleu" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tab-titre-label"><strong>Libellés</strong></td>
            <td class="tab-titre-valeur"><strong>Valeurs</strong></td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Nombre d'articles</td>
            <td class="tab-ligne-valeur"> {{facture.synthseNCArca["No_Articles"]}} </td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime brute</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Prime_TTC"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Fronting</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Fronting"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime nette</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Prime_HT"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission nette ({{facture.synthseNCArca["Taux"]}}%)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Revenue_net"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Frais {{taxe_courtier.nom}} ({{ taxe_courtier.tauxIARD * 100}}%)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Revenue_taxe_courtier"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - Frais {{taxe_courtier.nom}} payés</td>
            <td class="tab-ligne-valeur">-{{facture.synthseNCArca["Revenue_taxe_courtier_payee"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="bg-sombre">
            <td class="tab-ligne-label">Solde Frais {{taxe_courtier.nom}} restant dû</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCArca["Revenue_taxe_courtier_solde"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
    <br>
    <br>
{% elseif facture.destination == 3 %} {# Destination DGI #}
    <br>
    <table class="tableau-bordure-zero centre marge-top-moyen texte-taille-normale">
        <tr>
            <td class="texte-centre texte-bleu" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tab-titre-label"><strong>Libellés</strong></td>
            <td class="tab-titre-valeur"><strong>Valeurs</strong></td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Nombre d'articles</td>
            <td class="tab-ligne-valeur"> {{facture.synthseNCDgi["No_Articles"]}} </td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime brute</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Prime_TTC"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Fronting</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Fronting"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Prime nette</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Prime_HT"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Commission nette ({{facture.synthseNCDgi["Taux"]}}%)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Revenue_net"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr>
            <td class="tab-ligne-label">{{taxe_assureur.nom}} ({{ taxe_assureur.tauxIARD * 100}}%)</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Revenue_taxe_assureur"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="texte-rouge">
            <td class="tab-ligne-label"> - {{taxe_assureur.nom}} payés</td>
            <td class="tab-ligne-valeur">-{{facture.synthseNCDgi["Revenue_taxe_assureur_payee"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
        <tr class="bg-sombre">
            <td class="tab-ligne-label">Solde {{taxe_assureur.nom}} restant dû</td>
            <td class="tab-ligne-valeur">{{facture.synthseNCDgi["Revenue_taxe_assureur_solde"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
    <br>
    <br>
{% elseif facture.destination == 1 or facture.destination == 2 %}
    {# Destintion Assureur ou Client #}
    {# NOTE DE DEBIT POUR COMMISSION OU FRAIS DE GESTION #}
    {# Synthèse des totaux #}
    <table class="tableau-bordure-zero centre marge-top-large texte-taille-normale">
        <tr>
            <td class="texte-centre texte-bleu" colspan="2">Synthèse</td>
        </tr>
        <tr>
            <td class="tab-titre-label"><strong>Libellé</strong></td>
            <td class="tab-titre-valeur"><strong>Valeurs</strong></td>
        </tr>
        <tr>
            <td class="tab-ligne-label">Nombre d'articles</td>
            <td class="tab-ligne-valeur"> {{facture.synthseNDClientOuAssureur["No_Articles"]}} </td>
        </tr>
        <tr class="bg-sombre">
            <td class="tab-ligne-label">Total à payer</td>
            <td class="tab-ligne-valeur">{{facture.synthseNDClientOuAssureur["Total_a_payer"]|format_currency(monnaie, {fraction_digit: 2})}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
{% endif %}