{% extends 'base.html.twig' %}

{% block title %}Notyf - Test{% endblock %}

{% block body %}

<div class="example-wrapper">
    {# <h3>{{ notyf }}</h3> #}
    <nav>
        <ul>
            <li><a href="{{ path('app_notyf', {'notyf':'success'}) }}" role="button">Succès</a></li>
            <li><a href="{{ path('app_notyf', {'notyf':'info'}) }}" role="button">Info</a></li>
            <li><a href="{{ path('app_notyf', {'notyf':'warning'}) }}" role="button">Warning</a></li>
            <li><a href="{{ path('app_notyf', {'notyf':'error'}) }}" role="button">Error</a></li>
        </ul>
    </nav>

</div>
{% endblock %}
