<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Facture - {{facture.id}}</title>
    <style type="text/css">
        .texte-titre{
            padding: 3px;
            text-align: center;
            font-size: 10pt;
            font-weight: bold;
        }
        .texte-normal{
            padding: 3px;
            font-size: 9pt;
        }
        .texte-gras{
            font-weight: bold;
        }
        .texte-petit{
            padding: 3px;
            font-size: 8pt;
        }
        .texte-centre{
            text-align: center;
        }
        .texte-gauche{
            text-align: left;
        }
        .texte-droite{
            text-align: right;
        }
        .texte-blanc{
            color: white;
        }
        .bordure{
            border: 0.5px solid black;
        }
        .bordure-top{
            border-top: 0.5px solid black;
        }
        .bordure-bottom{
            border-bottom: 0.5px solid black;
        }
        .bg-sombre{
            background-color: lightgray;
        }
        .bg-pair{
            background-color: whitesmoke;
        }
        .largeur-max{
            width: 100%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;
        }
        .droite{
            margin-left: auto;
            margin-right: 0%;
        }
        .titre-document{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background-color: lightgray;
            font-size: 10pt;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
            padding: 3px;
            width: 100%;
        }
        .largeur-logo{
            width: 30%;
        }
        .image-centre{
            margin-left: 30%;
            margin-right: 30%;
            width: 40%;
        }
        .marge-top-extralarge{
            margin-top: 100px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .marge-top-large{
            margin-top: 50px;
        }
        .marge-top-moyen{
            margin-top: 20px;
        }
        .marge-top-petit{
            margin-top: 10px;
        }
        .marge-bottom-large{
            margin-top: 50px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .tableau-contenu-entete{
            border: 0.5px solid black;
            border-spacing: 0px;
            background-color: lightgray;
            padding: 3px;
            text-align: center;
        }
        .tableau-contenu-normal{
            border: 0.5px solid black;
            padding: 3px;
        }
        .tableau-contenu-droite{
            text-align: right;
        }
        .tableau-bordure{
            border: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-blanche{
            border: 1px solid white;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-bottom{
            border-bottom: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-top{
            border-top: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-zero{
            border: 0px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .page-js{
            width: 100%;
            height: 1010px;
            {# background-color: aqua; #}
            page-break-after: always;
        }
        .page-js:last-child{
            page-break-after: unset;
        }
        .landscape-content{
            size: 9in 6in;
            background-color: red;
            transform: translate(100vw) rotate(90deg);
        }
    </style>
</head>
<body>
    <div class="page-js texte-normal">
        {% set page = 1 %}
        {% set pageTotale = 2 %}
        {% include 'segments/_factureheader.html.twig' %}
        {# Contenu de la page #}
        <div class="corps">
            {# barre de titre #}
            <table class="titre-document">
                <tr>
                    <td>
                        <div>FACTURE N°{{facture.reference}}</div>
                    </td>
                </tr>
            </table>
            {# Référence, date et type de facture #}
            <table class="tableau-bordure-zero centre texte-normal" style="width: 98%;">
                <tr class="bg-pair">
                    <td>RCCM: <strong>{{facture.entreprise.rccm}}</strong></td>
                    <td class="texte-droite">DATE: <strong>{{facture.createdAt | date("d/m/Y à G:H:i")}}</strong></td>
                </tr>
                <tr>
                    <td>NIF: <strong>{{facture.entreprise.numimpot}}</strong></td>
                    <td class="texte-droite">REFERENCE: <strong>{{facture.reference}}</strong></td>
                </tr>
                <tr class="bg-pair">
                    <td>ID. NAT: <strong>{{facture.entreprise.idnat}}</strong></td>
                    <td class="texte-droite">NATURE: <strong>{{nature}}</strong></td>
                </tr>
            </table>

            {# Facture à l'attention de... & Description de la facture #}
            <table class="tableau-bordure-zero centre marge-top-large" style="width: 98%;">
                <tr>
                    <td>
                        Pour:</br>
                        {{pour|raw}}
                    </td>
                    <td class="texte-droite">
                        Description: </br>
                        <strong>
                            {{facture.description|raw}}
                        </strong>
                    </td>
                </tr>
            </table>

            {% set montant_ht = (facture.totalDu / 100) / (taxe.taux + 1) %}
            {% set montant_taxe = (montant_ht * taxe.taux) %}
            {% set montant_ttc = montant_ht + montant_taxe %}

            {# Synthèse des totaux #}
            <table class="tableau-bordure-zero centre marge-top-large">
                <tr>
                    <td class="texte-centre" colspan="2">Synthèse</td>
                </tr>
                <tr>
                    <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>RUBRIQUES</strong></td>
                    <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>MONTANTS</strong></td>
                </tr>
                <tr class="bg-pair">
                    <td class="tableau-bordure-blanche texte-normal">Montant dû (ht)</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                <tr>
                    <td class="tableau-bordure-blanche texte-normal">{{taxe.nom}} ({{(taxe.taux * 100)|number_format(0, ',', '.')}}%)</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_taxe|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                <tr class="bg-sombre">
                    <td class="tableau-bordure-blanche texte-normal texte-gras">Total à payer</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite texte-gras">{{montant_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
            </table>

            {# Signatiare de la facture #}
            <table class="tableau-bordure-zero droite marge-top-extralarge">
                <tr>
                    <td class="texte-centre">
                        <span class="texte-titre">{{facture.signedBy}}</span></br>
                        <span class="texte-normal">{{facture.posteSignedBy}}</span>
                    </td>
                </tr>
            </table>
            {# Ressort #}
            {% include 'segments/_factureressort.html.twig' with {'tailleTabActuel': facture.compteBancaires|length, 'tailleTabMax': 5, 'tailleBoucleMin': 5} %}
            {# Ici comptes bancaires #}
            {% include 'segments/_facturecomptesbancaires.html.twig' with {'facture': facture} %}
        </div>
        {# Footer etait ici #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
    <div class="page-js texte-normal">
        {% set page = 2 %}
        {% set x = 0 %}
        {# Entête de la page #}
        {% include 'segments/_factureheader.html.twig' %}
        {# ici liste d'articles #}
        {% include 'segments/_facturearticles.html.twig' %}
        {# Ressort #}
        {% include 'segments/_factureressort.html.twig' with {'tailleTabActuel': x, 'tailleTabMax': 10, 'tailleBoucleMin': 15} %}
        {# Fin liste des avenants #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
</body>
</html>