<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Facture - {{facture.id}}</title>
    <style type="text/css">
        .texte-titre{
            padding: 3px;
            text-align: center;
            font-size: 10pt;
            font-weight: bold;
        }
        .texte-normal{
            padding: 3px;
            font-size: 9pt;
        }
        .texte-gras{
            font-weight: bold;
        }
        .texte-petit{
            padding: 3px;
            font-size: 8pt;
        }
        .texte-centre{
            text-align: center;
        }
        .texte-gauche{
            text-align: left;
        }
        .texte-droite{
            text-align: right;
        }
        .texte-blanc{
            color: white;
        }
        .bordure{
            border: 0.5px solid black;
        }
        .bordure-top{
            border-top: 0.5px solid black;
        }
        .bordure-bottom{
            border-bottom: 0.5px solid black;
        }
        .bg-sombre{
            background-color: lightgray;
        }
        .bg-pair{
            background-color: whitesmoke;
        }
        .largeur-max{
            width: 100%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;
        }
        .droite{
            margin-left: auto;
            margin-right: 0%;
        }
        .titre-document{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background-color: lightgray;
            font-size: 10pt;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
            padding: 3px;
            width: 100%;
        }
        .largeur-logo{
            width: 30%;
        }
        .image-centre{
            margin-left: 30%;
            margin-right: 30%;
            width: 40%;
        }
        .marge-top-extralarge{
            margin-top: 100px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .marge-top-large{
            margin-top: 50px;
        }
        .marge-top-moyen{
            margin-top: 20px;
        }
        .marge-top-petit{
            margin-top: 10px;
        }
        .marge-bottom-large{
            margin-top: 50px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .tableau-contenu-entete{
            border: 0.5px solid black;
            border-spacing: 0px;
            background-color: lightgray;
            padding: 3px;
            text-align: center;
        }
        .tableau-contenu-normal{
            border: 0.5px solid black;
            padding: 3px;
        }
        .tableau-contenu-droite{
            text-align: right;
        }
        .tableau-bordure{
            border: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-blanche{
            border: 1px solid white;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-bottom{
            border-bottom: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-top{
            border-top: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-zero{
            border: 0px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .page-js{
            width: 100%;
            height: 1010px;
            {# background-color: aqua; #}
            page-break-after: always;
        }
        .page-js:last-child{
            page-break-after: unset;
        }
        .landscape-content{
            size: 9in 6in;
            background-color: red;
            transform: translate(100vw) rotate(90deg);
        }
    </style>
</head>
<body>
    <div class="page-js texte-normal">
        {% set page = 1 %}
        {% set pageTotale = 2 %}
        {% include 'segments/_factureheader.html.twig' %}
        {# Contenu de la page #}
        <div class="corps">
            {# barre de titre #}
            <table class="titre-document">
                <tr>
                    <td>
                        <div>FACTURE N°{{facture.reference}}</div>
                    </td>
                </tr>
            </table>
            {# Référence, date et type de facture #}
            <table class="tableau-bordure-zero centre texte-normal" style="width: 98%;">
                <tr class="bg-pair">
                    <td>RCCM: <strong>{{facture.entreprise.rccm}}</strong></td>
                    <td class="texte-droite">DATE: <strong>{{facture.createdAt | date("d/m/Y à G:H:i")}}</strong></td>
                </tr>
                <tr>
                    <td>NIF: <strong>{{facture.entreprise.numimpot}}</strong></td>
                    <td class="texte-droite">REFERENCE: <strong>{{facture.reference}}</strong></td>
                </tr>
                <tr class="bg-pair">
                    <td>ID. NAT: <strong>{{facture.entreprise.idnat}}</strong></td>
                    <td class="texte-droite">NATURE: <strong>{{nature}}</strong></td>
                </tr>
            </table>

            {# Facture à l'attention de... & Description de la facture #}
            <table class="tableau-bordure-zero centre marge-top-large" style="width: 98%;">
                <tr>
                    <td>
                        Pour:</br>
                        {{pour|raw}}
                    </td>
                    <td class="texte-droite">
                        Description: </br>
                        <strong>
                            {{facture.description|raw}}
                        </strong>
                    </td>
                </tr>
            </table>

            {% set montant_ht = (facture.totalDu / 100) / (taxe.taux + 1) %}
            {% set montant_taxe = (montant_ht * taxe.taux) %}
            {% set montant_ttc = montant_ht + montant_taxe %}

            {# Synthèse des totaux #}
            <table class="tableau-bordure-zero centre marge-top-large">
                <tr>
                    <td class="texte-centre" colspan="2">Synthèse</td>
                </tr>
                <tr>
                    <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>RUBRIQUES</strong></td>
                    <td class="tableau-bordure-blanche texte-titre bg-sombre"><strong>MONTANTS</strong></td>
                </tr>
                <tr class="bg-pair">
                    <td class="tableau-bordure-blanche texte-normal">Montant dû (ht)</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_ht|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                <tr>
                    <td class="tableau-bordure-blanche texte-normal">{{taxe.nom}} ({{(taxe.taux * 100)|number_format(0, ',', '.')}}%)</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite">{{montant_taxe|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
                <tr class="bg-sombre">
                    <td class="tableau-bordure-blanche texte-normal texte-gras">Total à payer</td>
                    <td class="tableau-bordure-blanche texte-normal texte-droite texte-gras">{{montant_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
                </tr>
            </table>

            {# Signatiare de la facture #}
            <table class="tableau-bordure-zero droite marge-top-extralarge">
                <tr>
                    <td class="texte-centre">
                        <span class="texte-titre">{{facture.signedBy}}</span></br>
                        <span class="texte-normal">{{facture.posteSignedBy}}</span>
                    </td>
                </tr>
            </table>

            {# système de gestion des interlignes vides #}
            {% set tailleTab = facture.compteBancaires|length %}
            {% set maxTab = 1 %}
            {% set excedentTab = maxTab - tailleTab %}
            {% set tailleBoucle = 25 + excedentTab %}
            {# Ajout des lignes pour ajuster la taille de la page #}
            <table class="tableau-bordure-zero texte-petit largeur-max bg-sombre">
                {% for i in 0..tailleBoucle %}
                    <tr class="tableau-bordure-blanche">
                        <td class="tableau-bordure-blanche"><span class="texte-blanc">{{i}}</span></td>
                    </tr>
                {% endfor %}
            </table>
            {# Fin liste des avenants #}

            
            {# Les Comptes bancaires et leurs numéros #}
            <table class="tableau-bordure-zero texte-petit largeur-max marge-top-extralarge">
                <tr>
                    <td colspan="5">Références bancaires</td>
                </tr>
                <tr class="texte-gras texte-centre bg-sombre">
                    <td class = "tableau-bordure-blanche">Intitulé</td>
                    <td class = "tableau-bordure-blanche">Numéro</td>
                    <td class = "tableau-bordure-blanche">Banque</td>
                    <td class = "tableau-bordure-blanche">Code Swift</td>
                    <td class = "tableau-bordure-blanche">Devise</td>
                </tr>
                {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}
                {% set x = 0 %}
                {% for compteBancaire in facture.compteBancaires %}
                    {% if (x % 2) == 0 %}
                        <tr class="texte-centre bg-pair">
                        {% else %}
                        <tr class="texte-centre">
                    {% endif %}
                            <td class = "tableau-bordure-blanche">{{ compteBancaire.intitule}}</td>
                            <td class = "tableau-bordure-blanche">{{ compteBancaire.numero}}</td>
                            <td class = "tableau-bordure-blanche">{{ compteBancaire.banque}}</td>
                            <td class = "tableau-bordure-blanche">{{ compteBancaire.codeSwift}}</td>
                            <td class = "tableau-bordure-blanche">{{ compteBancaire.codeMonnaie}}</td>
                        </tr>
                    {% set x = x + 1 %}
                {% endfor %}
            </table>
        </div>
        {# Footer etait ici #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
    <div class="page-js texte-normal">
        {% set page = 2 %}
        {% include 'segments/_factureheader.html.twig' %}
        {# Liste des avenants concernés par cette note de débit #}
        <table class="tableau-bordure-zero texte-petit largeur-max marge-top-petit">
            <tr>
                <td colspan="5">Liste détailée des avénants ou articles concernés par la note de débit.</td>
            </tr>
            <tr class="texte-gras texte-centre bg-sombre">
                <td class = "tableau-bordure-blanche">N°</td>
                <td class = "tableau-bordure-blanche">Police</td>
                <td class = "tableau-bordure-blanche">Avenant</td>
                <td class = "tableau-bordure-blanche">Risque</td>
                <td class = "tableau-bordure-blanche">Client</td>
                <td class = "tableau-bordure-blanche">Prime nette</td>
                <td class = "tableau-bordure-blanche">Fronting</td>
                <td class = "tableau-bordure-blanche">Montant (ht)</td>
                <td class = "tableau-bordure-blanche">{{taxe.nom}} ({{(taxe.taux * 100)|number_format(0, ',', '.')}}%)</td>
                <td class = "tableau-bordure-blanche">Total</td>
            </tr>
            {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}
            {% set x = 0 %}
            {# Les variables à cumuler #}
            {% set total_fronting = 0 %}
            {% set total_prime_nette = 0 %}
            {% set total_montant = 0 %}
            {% set total_tva = 0 %}
            {% set total_montant_ttc = 0 %}
            {# fin - Les variables à cumuler #}
            {% for elementFacture in facture.elementFactures %}
                {% if (x % 2) == 0 %}
                    <tr class="texte-centre bg-pair">
                    {% else %}
                    <tr class="texte-centre">
                {% endif %}
                        {% set fronting = elementFacture.police.fronting / 100 %}
                        {% set prime_nette = elementFacture.police.primenette / 100 %}
                        {% set montant = (elementFacture.montant / 100 / 1.16) %}
                        {% set tva = montant * taxe.taux %}
                        {% set montant_ttc = (montant + tva) %}
                        <td class = "tableau-bordure-blanche">{{(x+1)}}</td>
                        <td class = "tableau-bordure-blanche">{{elementFacture.police.reference}}</td>
                        <td class = "tableau-bordure-blanche">Type@{{elementFacture.police.typeAvenant}} / id@{{elementFacture.police.idAvenant}}</td>
                        <td class = "tableau-bordure-blanche">{{elementFacture.police.produit.code}}</td>
                        <td class = "tableau-bordure-blanche">{{elementFacture.police.client.nom}}</td>
                        <td class = "tableau-bordure-blanche texte-droite">{{(prime_nette)|format_currency(monnaie, {fraction_digit: 2})}}</td>
                        <td class = "tableau-bordure-blanche texte-droite">{{(fronting)|format_currency(monnaie, {fraction_digit: 2})}}</td>
                        <td class = "tableau-bordure-blanche texte-droite">{{(montant)|format_currency(monnaie, {fraction_digit: 2})}}</td>
                        <td class = "tableau-bordure-blanche texte-droite">{{(tva)|format_currency(monnaie, {fraction_digit: 2})}}</td>
                        <td class = "tableau-bordure-blanche texte-droite">{{(montant_ttc)|format_currency(monnaie, {fraction_digit: 2})}}</td>
                    </tr>
                    {% set total_fronting = total_fronting + fronting %}
                    {% set total_prime_nette = total_prime_nette + prime_nette %}
                    {% set total_montant = total_montant + montant %}
                    {% set total_tva = total_tva + tva %}
                    {% set total_montant_ttc = total_montant_ttc + montant_ttc %}
                {% set x = x + 1 %}
            {% endfor %}
            <tr class="tableau-bordure-blanche texte-gras bg-sombre">
                <td colspan="5" class = "tableau-bordure-blanche">Total général</td>
                <td class = "tableau-bordure-blanche texte-droite">{{total_prime_nette|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class = "tableau-bordure-blanche texte-droite">{{total_fronting|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class = "tableau-bordure-blanche texte-droite">{{total_montant|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class = "tableau-bordure-blanche texte-droite">{{total_tva|format_currency(monnaie, {fraction_digit: 2})}}</td>
                <td class = "tableau-bordure-blanche texte-droite">{{total_montant_ttc|format_currency(monnaie, {fraction_digit: 2})}}</td>
            </tr>
        </table>
        {# système de gestion des interlignes vides #}
        {% set tailleTab = x %}
        {% set maxTab = 10 %}
        {% set excedentTab = maxTab - tailleTab %}
        {% set tailleBoucle = 25 + excedentTab %}
        {# Ajout des lignes pour ajuster la taille de la page #}
        <table class="tableau-bordure-zero texte-petit largeur-max">
            {% for i in 0..tailleBoucle %}
                <tr class="tableau-bordure-blanche">
                    <td class="tableau-bordure-blanche"><span class="texte-blanc">{{i}}</span></td>
                </tr>
            {% endfor %}
        </table>
        {# Fin liste des avenants #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
</body>
</html>