<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        {% if field.value is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Message</th>
                        {# <th scope="col">Tâche</th> #}
                        {# <th scope="col">Status</th> #}
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 1 %}
                    {% for feedback in field.value %}
                        <tr>
                            <td scope="row">{{ i }}</td>
                            <th>{{feedback.message|raw}}</th>
                            {# <td>{{feedback.actionCRM.mission}}<br>Tâche attribuée à : {{feedback.actionCRM.attributedTo}}</td> #}
                            {# <td>{{feedback.status}}</td> #}
                            <td>{{feedback.utilisateur}}</td>
                            <td>{{feedback.createdAt|date("d/m/Y à H:m:s")}}</td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <i class="fa-solid fa-face-frown-open"></i> Aucune police n'est disponible pour l'instant.
        {% endif %}
    </body>
</html>