{% extends '@EasyAdmin/page/content.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content_title %}
Edition des factures et/ou notes de débits (ou de crédit) en masse
{% endblock %}
{#
{% block page_actions %}
    <a class="btn btn-primary" href="...">Produire</a>
{% endblock %}
#}

{% block main %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-file-shield"></i> {{ tranche.police }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-layer-group"></i> {{ tranche }}</h6>
    <p class="card-text">
        <i class="fas fa-person-shelter"></i> {{ tranche.client }} || 
        <i class="fas fa-gifts"></i> {{ tranche.produit }} || 
        <i class="fas fa-handshake"></i> {{ tranche.partenaire }} || 
        <i class="fa-regular fa-calendar-check"></i> Enregistrée le {{tranche.createdAt|date("d/m/Y")}} |
        <i class="fa-solid fa-user"></i> {{ tranche.utilisateur }}
    </p>
  </div>
</div>

<p>
    {{ form(form) }}
</p>

    
{% endblock %}