<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom</th>
                <th scope="col">Poste</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% for contact in field.value %}
                    <tr>
                        <td scope="row">{{ i }}</td>
                        <th>{{contact.nom}}</td>
                        <td>{{contact.poste}}</td>
                        <td>{{contact.telephone}}</td>
                        <td>{{contact.email}}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>