{# Comptes bancaires #}
{% if facture.compteBancaires|length != 0 %}
    {# Les Comptes bancaires et leurs numéros #}
    <table class="tableau-bordure-zero texte-petit largeur-max marge-top-petit">
        <tr>
            <td colspan="5">Références bancaires</td>
        </tr>
        <tr class="texte-gras texte-centre bg-sombre">
            <td class = "tableau-bordure-blanche">Intitulé</td>
            <td class = "tableau-bordure-blanche">Numéro</td>
            <td class = "tableau-bordure-blanche">Banque</td>
            <td class = "tableau-bordure-blanche">Code Swift</td>
            <td class = "tableau-bordure-blanche">Devise</td>
        </tr>
        {# C'est ici qu'il faut mettre la boucle pour parcourir tous les comptes bancaires #}
        {% set x = 0 %}
        {% for compteBancaire in facture.compteBancaires %}
            {% if (x % 2) == 0 %}
                <tr class="texte-centre bg-pair">
                {% else %}
                <tr class="texte-centre">
            {% endif %}
                    <td class = "tableau-bordure-blanche">{{ compteBancaire.intitule}}</td>
                    <td class = "tableau-bordure-blanche">{{ compteBancaire.numero}}</td>
                    <td class = "tableau-bordure-blanche">{{ compteBancaire.banque}}</td>
                    <td class = "tableau-bordure-blanche">{{ compteBancaire.codeSwift}}</td>
                    <td class = "tableau-bordure-blanche">{{ compteBancaire.codeMonnaie}}</td>
                </tr>
            {% set x = x + 1 %}
        {% endfor %}
    </table>
{% endif %}