<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('notyf') }}
            {{ encore_entry_link_tags('sweetalert2') }}
            {{ encore_entry_link_tags('adminlte') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('notyf') }}
            {{ encore_entry_script_tags('sweetalert2') }}
            {{ encore_entry_script_tags('adminlte') }}
        {% endblock %}
    </head>
    <body>
        {% include 'segments/_mainheader.html.twig' %}
        {% include 'segments/_messages.html.twig' %}
        {% block body %}{% endblock %}
        
    </body>
</html>
